In [1]:
!pip install pandas

Collecting pandas
  Downloading pandas-1.4.2-cp38-cp38-win_amd64.whl (10.6 MB)
Requirement already satisfied: pytz>=2020.1 in c:\users\kristina.kaiser\anaconda3\envs\makeathon\lib\site-packages (from pandas) (2021.3)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\kristina.kaiser\anaconda3\envs\makeathon\lib\site-packages (from pandas) (2.8.2)
Collecting numpy>=1.18.5
  Downloading numpy-1.22.3-cp38-cp38-win_amd64.whl (14.7 MB)
Requirement already satisfied: six>=1.5 in c:\users\kristina.kaiser\anaconda3\envs\makeathon\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Installing collected packages: numpy, pandas
Successfully installed numpy-1.22.3 pandas-1.4.2

:

In [2]:
import pandas as pd

'Getting Started.ipynb'   data	 images   look_into_the_data.ipynb

# Lab events dataframe

In [9]:
lab_events_df = pd.read_csv('data/LABEVENTS_HPO.csv')

In [10]:
lab_events_df = lab_events_df.dropna(subset=['active_hpo_features'])

In [11]:
lab_events_df = lab_events_df[['subject_id','active_hpo_features']]

In [12]:
lab_events_df = lab_events_df.groupby(['subject_id'])['active_hpo_features'].apply(' '.join).reset_index()

In [13]:
lab_events_df

    subject_id                                active_hpo_features
0        10006  HP:0012101;HP:0003259 HP:0001943;HP:0003074 HP...
1        10011  HP:0031964 HP:0003073;HP:0012117 HP:0003282;HP...
2        10013  HP:0031956 HP:0003113;HP:0011423 HP:0003236 HP...
3        10017  HP:0011905;HP:0040217 HP:0001943;HP:0003074 HP...
4        10019  HP:0031964 HP:0003073;HP:0012117 HP:0003282;HP...
..         ...                                                ...
95       44083  HP:0031851;HP:0001899 HP:0020062;HP:0020063 HP...
96       44154  H;P;:;0;4;1;0;1;7;2 H;P;:;0;5;0;0;1;1;6 HP:000...
97       44212  HP:0003073;HP:0012117 HP:0031956 HP:0032066;HP...
98       44222  HP:0012101;HP:0003259 HP:0001943;HP:0003074 HP...
99       44228  HP:0031964 HP:0003282;HP:0003155 HP:0031956 HP...

[100 rows x 2 columns]

# Diagnose dataframe

In [14]:
diagnose_df = pd.read_csv('data/DIAGNOSE_ICD_hpo.csv')

In [15]:
diagnose_df

,row_id,subject_id,hadm_id,seq_num,icd9_code,icd10_codes,hpo_features
0,112344,10006,142345,1,99591,A419,HP:0100806
1,112345,10006,142345,2,99662,T827XXA,NaN
2,112346,10006,142345,3,5672,NaN,NaN
3,112347,10006,142345,4,40391,I120,HP:0004421;HP:0009741;HP:0004972;HP:0005117
4,112348,10006,142345,5,42731,I4891,NaN
...,...,...,...,...,...,...,...
1756,397673,44228,103379,7,1975,NaN,NaN
1757,397674,44228,103379,8,45182,I808,HP:0004418
1758,397675,44228,103379,9,99592,R6520,NaN
1759,397676,44228,103379,10,2449,NaN,NaN
1760,397677,44228,103379,11,2859,NaN,NaN

In [16]:
diagnose_df = diagnose_df.dropna(subset=['hpo_features'])

In [17]:
diagnose_df = diagnose_df[['subject_id','hpo_features']]

In [18]:
diagnose_df = diagnose_df.groupby(['subject_id'])['hpo_features'].apply(' '.join).reset_index()

In [19]:
diagnose_df

    subject_id                                       hpo_features
0        10006  HP:0100806 HP:0004421;HP:0009741;HP:0004972;HP...
1        10011        HP:0012115;HP:0200119 HP:0200123;HP:0012115
2        10013  HP:0100806 HP:0000819;HP:0001997;HP:0100749;HP...
3        10017  HP:0002097 HP:0002090 HP:0005978;HP:0000819;HP...
4        10019  HP:0100806 HP:0002878;HP:0012416;HP:0012416;HP...
..         ...                                                ...
92       44083  HP:0000822;HP:0004421;HP:0004972;HP:0005117 HP...
93       44154                                         HP:0100806
94       44212  HP:0002878;HP:0012416;HP:0012416;HP:0002878 HP...
95       44222  HP:0001657;HP:0001688;HP:0030682;HP:0001634;HP...
96       44228                   HP:0002090 HP:0002664 HP:0004418

[97 rows x 2 columns]

In [20]:
df = pd.merge(lab_events_df, diagnose_df, on="subject_id")

In [21]:
df

,subject_id,active_hpo_features,hpo_features
0,10006,HP:0012101;HP:0003259 HP:0001943;HP:0003074 HP...,HP:0100806 HP:0004421;HP:0009741;HP:0004972;HP...
1,10011,HP:0031964 HP:0003073;HP:0012117 HP:0003282;HP...,HP:0012115;HP:0200119 HP:0200123;HP:0012115
2,10013,HP:0031956 HP:0003113;HP:0011423 HP:0003236 HP...,HP:0100806 HP:0000819;HP:0001997;HP:0100749;HP...
3,10017,HP:0011905;HP:0040217 HP:0001943;HP:0003074 HP...,HP:0002097 HP:0002090 HP:0005978;HP:0000819;HP...
4,10019,HP:0031964 HP:0003073;HP:0012117 HP:0003282;HP...,HP:0100806 HP:0002878;HP:0012416;HP:0012416;HP...
...,...,...,...
92,44083,HP:0031851;HP:0001899 HP:0020062;HP:0020063 HP...,HP:0000822;HP:0004421;HP:0004972;HP:0005117 HP...
93,44154,H;P;:;0;4;1;0;1;7;2 H;P;:;0;5;0;0;1;1;6 HP:000...,HP:0100806
94,44212,HP:0003073;HP:0012117 HP:0031956 HP:0032066;HP...,HP:0002878;HP:0012416;HP:0012416;HP:0002878 HP...
95,44222,HP:0012101;HP:0003259 HP:0001943;HP:0003074 HP...,HP:0001657;HP:0001688;HP:0030682;HP:0001634;HP...
96,44228,HP:0031964 HP:0003282;HP:0003155 HP:0031956 HP...,HP:0002090 HP:0002664 HP:0004418

In [22]:
df.index

Int64Index([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
            17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
            34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50,
            51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67,
            68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84,
            85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96],
           dtype='int64')

In [23]:
input_test = set(df.loc[df['subject_id'] == 10006, 'active_hpo_features'])

In [24]:
output_test = set(df.loc[df['hpo_features'] == 10006, 'active_hpo_features'])

In [25]:
input_test.intersection(output_test)

set()

In [26]:
lab_events_df.shape

(100, 2)

In [27]:
lab_events_df.subject_id.unique().shape

(100,)

---

In [28]:
lab_events_df = pd.read_csv('data/LABEVENTS_HPO.csv')

In [29]:
lab_events_df.head(5)

,row_id,subject_id,hadm_id,itemid,charttime,value,valuenum,valueuom,flag,possible_hpo_features,active_hpo_features
0,6244563,10006,NaN,50868,2164-09-24 20:21:00,19,19.0,mEq/L,NaN,HP:0031963;HP:0031961;HP:0031962,NaN
1,6244564,10006,NaN,50882,2164-09-24 20:21:00,27,27.0,mEq/L,NaN,HP:0032066;HP:0032065;HP:0032067,NaN
2,6244565,10006,NaN,50893,2164-09-24 20:21:00,10.0,10.0,mg/dL,NaN,HP:0002901;HP:0004363;HP:0003072,NaN
3,6244566,10006,NaN,50902,2164-09-24 20:21:00,97,97.0,mEq/L,NaN,HP:0003113;HP:0011422;HP:0011423,NaN
4,6244567,10006,NaN,50912,2164-09-24 20:21:00,7.0,7.0,mg/dL,abnormal,HP:0012101;HP:0012100;HP:0003259,HP:0012101;HP:0003259

In [30]:
lab_events_df = lab_events_df.dropna(subset=['active_hpo_features'])

In [31]:
lab_events_df = lab_events_df.groupby(['subject_id'])['active_hpo_features'].apply(';'.join).reset_index()

In [32]:
diagnose_sub_df = pd.read_csv('data/DIAGNOSE_ICD_hpo.csv')

In [33]:
diagnose_sub_df.head(2)

   row_id  subject_id  hadm_id  seq_num icd9_code icd10_codes hpo_features
0  112344       10006   142345        1     99591        A419   HP:0100806
1  112345       10006   142345        2     99662     T827XXA          NaN

In [34]:
diagnose_sub_df = diagnose_sub_df[['subject_id','icd9_code', 'hpo_features']]

In [35]:
input_hpo_to_icd9 = lab_events_df.merge(diagnose_sub_df, how='left', on='subject_id')

In [36]:
hpo_example = input_hpo_to_icd9.iloc[5]

In [37]:
hpo_example

subject_id                                                         10006
active_hpo_features    HP:0012101;HP:0003259;HP:0001943;HP:0003074;HP...
icd9_code                                                           4280
hpo_features                                                  HP:0001635
Name: 5, dtype: object

In [38]:
lab_events_df.assign(active_hpo_features=lab_events_df.active_hpo_features.str.split(';')).explode('active_hpo_features').reset_index(drop=True)

       subject_id active_hpo_features
0           10006          HP:0012101
1           10006          HP:0003259
2           10006          HP:0001943
3           10006          HP:0003074
4           10006          HP:0002148
...           ...                 ...
62468       44228          HP:0001894
62469       44228          HP:0020060
62470       44228          HP:0020059
62471       44228          HP:0001882
62472       44228          HP:0001974

[62473 rows x 2 columns]

In [52]:
diagnose_df_splitted = diagnose_df.assign(hpo_features=diagnose_df.hpo_features.str.split(';')).explode('hpo_features').reset_index(drop=True)

In [53]:
diagnose_df_splitted['hpo_features_len'] = diagnose_df_splitted['hpo_features'].apply(lambda x: len(x))

In [60]:
diagnose_df_splitted

      subject_id                      hpo_features  hpo_features_len
0          10006             HP:0100806 HP:0004421                21
1          10006                        HP:0009741                10
2          10006                        HP:0004972                10
3          10006  HP:0005117 HP:0001635 HP:0004963                32
4          10006                        HP:0004942                10
...          ...                               ...               ...
2471       44222                        HP:0031959                10
2472       44222                        HP:0002548                10
2473       44222                        HP:0000338                10
2474       44222                        HP:0002322                10
2475       44228  HP:0002090 HP:0002664 HP:0004418                32

[2476 rows x 3 columns]

In [61]:
diagnose_df_splitted = diagnose_df_splitted[ diagnose_df_splitted['hpo_features_len'] = 10]

SyntaxError: invalid syntax (27424354.py, line 1)

In [50]:
diagnose_df_splitted

Empty DataFrame
Columns: [subject_id, hpo_features, hpo_features_len]
Index: []